@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");
body {
  background-color: #000 !important;
  /* background-image: linear-gradient(to right, #f4f4f4, #fff, #fff, #fff); */
  /* color: #005eff; */
}

#audio-control {
  cursor: pointer;
  font-size: 24px;
  color: white;
}

/* Header */
.bx {
  margin-right: 4px;
}
.bi {
  margin-top: -6px;
  margin-right: 4px;
}
#header {
  z-index: 1;
  transition: all 0.5s;
  background: transparent;
  backdrop-filter: blur(2px);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
  height: 10vh;
  /* background-image: linear-gradient(to right, #eee, #fff); */
}
#header #logo h1 {
  color: #505050;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
}

#header .logo img {
  padding: 0;
  margin: 10px 0px;
  max-height: 60px;
}

.keluar-btn {
  padding: 5px 15px;
  border-radius: 8px;
  background-color: #000;
  color: aliceblue;
  border: none;
}

.keluar-btn:hover {
  color: #fff !important;
  background-color: #eb3838;

  transition: 0.2s;
}
/* NavBar */
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 5px;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  margin-right: 25px; /* Tambahkan margin-right sebesar 10px di sini */
}

.navbar li:last-child {
  margin-right: 0; /* Hapus margin-right pada elemen terakhir agar tidak ada ruang ekstra di akhir */
}

.navbar li a {
  position: relative;
  color: #f4f4f4;
  font-weight: 500;
  /* background-color: #fff; */
  /* border: yellow 1px solid; */
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  white-space: nowrap;
  transition: 0.2s;
  /* border: #000 2px solid; */
}

.navbar a:hover,
.navbar li:hover > a {
  color: #eec96b;
  text-shadow: 0 0 8px #ffff00e6;
}

.navbar .active,
.navbar .active:focus {
  color: #dfb64e;
  border-bottom: #dfb64e 2px solid;
}

/* Beranda*/
#beranda {
  width: 100%;
  height: 650px;

  position: relative;

  /* background-color: white; */
}

.beranda-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  text-align: center;
  background-image: url(../img/bghome.jpg);
  background-size: cover;
}
.bg-hal1 {
  padding-left: 20vh;
  text-align: left;
  max-width: 800px;
  /* border: #000 2px solid; */
}

.bg-hal1 h5.opening-title,
.bg-hal1 .user-nama {
  display: inline-block;
}

.bg-hal1 p {
  margin-bottom: 25px;
  color: #f4f4f4;
}
.bgmenu {
  /* border: white 2px solid; */
  display: flex;
  gap: 10px; /* Menambahkan jarak antar elemen */
}
.btn-mulai {
  /* align-items: center; Menengahkan secara vertikal */
  border: none;
  /* background-image: linear-gradient(to right, #2d3039, #848faf); */
  border-radius: 30px;
  border: #b3b3b3 2px solid;
  /* box-shadow: 0 2px 4px rgba(255, 255, 255, 0.6);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); */
  text-decoration: none;
  padding: 6px 25px;
  color: #f0f0f0;
  font-size: large;
  font-weight: bold;
  transition: all 0.2s ease;
  width: fit-content;
}
.btn-mulai:hover {
  background-image: linear-gradient(to right, #ebcc66, rgb(110, 83, 25));
  box-shadow: inset 0px 2px 4px rgb(0, 0, 0, 0.5);
  text-shadow: 0 0 2px rgb(255, 255, 255, 0.9);
  color: #fff;
  transform: scale(0.98);
}
a {
  text-decoration: none;
}

.user-nama {
  width: fit-content;
  color: #374266;
  text-shadow: 0 0px 4px #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(#fafafa #fff, #f4f4f4);
  padding: 6px 16px;
  border: #fff 2px solid;
  border-radius: 20px;
  /* cursor: pointer; */
  transition: all 0.2s ease;
}

.user-nama:hover {
  /* transform: translateY(-2px); */
  background-image: linear-gradient(#eee, #fff, #f4f4f4);
  box-shadow: 0px 0px 4px rgb(173, 187, 250);
  transform: scale(0.98);
}

/* MULAI BELAJAR*/

.index-judul {
  /* letter-spacing: 0.1rem; */
  /* font-family: "Bagel Fat One", cursive; */
  color: #dfb64e;
  /* text-shadow: 0 0 10px rgb(255, 255, 255); */
}

#beranda img {
  max-width: 100%;
  margin-bottom: 10px;
}

.svg-img {
  position: fixed;
  top: 0%;
  right: 0%;
  height: 100vh;
  /* width: 100vh; */
  /* margin-right: -16vh; */
  z-index: -1;
}

/* Menu */
#menu {
  display: inline-block;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/bghome2.jpg);
  padding: 160px 0;
  justify-items: center;
  /* background-image: linear-gradient(#eee, #fff, #fff); */
}

#menu .feature-block {
  padding-top: 110px;
  height: 340px;
  border-radius: 20px;
  color: #f0f0f0;
  user-select: none;
  background: transparent;
  backdrop-filter: blur(6px);
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.1);
  transition: all 0s ease;
}

.feature-block p {
  text-transform: none;
}
.feature-block button {
  border-radius: 30px;
  /* border: transparent; */
  border: #9ba7c7 1px solid;
  width: 36%;
  color: #eee;
  font-weight: 600;
  background-color: #374266;
  padding: 6px;
  transition: all 0.2s ease;
}
.feature-block button:hover {
  box-shadow: 0 0 10px #fff;
  text-shadow: 0 0 8px #667fc4;
}
.row {
  /* background-image: url(../img/bghome2.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  /* margin-top: 0px; */
  /* background: transparent; */
  /* backdrop-filter: blur(4px); */
}
#menu .row .feature-block:hover {
  color: #fff;
  background-image: url(../img/bghome2.jpg);
  box-shadow: 0px 4px 20px rgb(173, 187, 250);
  text-shadow: 0 0 4px rgb(173, 187, 250);
  border: solid #9ca8d3 1px;
  transform: scale(1.04);
}
#menu .feature-block img {
  height: 140px;
  margin-bottom: 20px;
  width: 220px;
}
#menu .feature-block:hover {
  transition: all 0.2s ease-in-out;
}

#menu .row a {
  /* color: #005eff; */
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s;
}

/* Tentang */
#tentang {
  display: inline-block;

  /* margin-bottom: 0px; */
  background-image: url(../img/bghome3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
}
.aboutme {
  margin-top: 15vh;
  margin-bottom: 4vh;
  /* border: white 2px solid; */
  height: 80vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.aboutme h1,
h2,
h3 {
  color: #fefefe;
}
.aboutme p {
  color: #dfb64e;
}
.menu-tombol {
  /* border: 2px solid white; */

  height: auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.menu-tombol button {
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
  margin-right: 20px;
  margin-top: 30px;
  justify-self: center;
}
.menu-tombol button:hover {
  box-shadow: 0px 0px 8px white;
  transition: all 0.2s;
}
.instagram button {
  background-image: linear-gradient(
    -150deg,
    #4f5bd5,
    #962fbf,
    #962fbf,
    #d62976,
    #fa7e1e,
    #feda75
  );
  border: 2px solid #fff;
}
.youtube button {
  background-image: linear-gradient(#ff0000, #8a0000);
  border: 2px solid #fff;
}
#map {
  border: 2px solid #fff;
  border-radius: 10px;
  margin-top: 20px;
  height: 100px; /* Tinggi peta */
  width: 100%; /* Lebar penuh peta */
}
h6 {
  /* border: #000 2px solid; */
  border-radius: 8px 8px 0 0;
  background-color: #666f91;
  /* text-shadow: 0 0 10px #fff; */
  color: #fff;
  padding: 8px 0px;
  margin: 0;
}

.label {
  display: inline-block;
  width: 160px;
  margin-right: 10px;
}
.sosmed {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #000 solid 2px;
  margin: 0;
}
.bxl-instagram {
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(purple, pink);
  padding: 2px;
  border-radius: 6px;
}
.bxl-youtube {
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(red, #d10023);
  padding: 2px;
  border-radius: 6px;
}
.bxl-instagram,
.bxl-youtube {
  font-size: 20px !important;
}

/* Footer */
footer {
  color: #dfdfdf;
  background: #3b4157;
  /* margin-top: -30px; */
  text-align: center;
  padding: 20px;
  /* border: red 2px solid; */
}
footer p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .keluar-btn a {
    display: none;
  }
  .beranda-container {
    background-image: url(../img/bgres1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  .bg-hal1 {
    padding-left: 10px;
    padding: 20px;
    max-width: 350px;
    /* border: 2px red solid; */
    margin: 0 auto;
    /* background-color: #fff; */
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  .opening-title {
    /* border: #000 2px solid; */
    font-size: small;
    margin: 15px 0px;
  }
  /* #beranda .beranda-container {
    background-image: url(../img/bg-gel3.svg);
    background-size: cover;
  } */
  #beranda p {
    font-size: small;
  }
  #beranda .index-judul {
    font-size: 30pt;
  }
  #menu {
    /* height: 100%; */

    background-image: url(../img/bgres1.jpg);
    background-size: cover;
    /* display: none; */
  }
  #menu .feature-block {
    /* border: yellow 2px solid; */
    margin-top: 10px;
    padding: 10px;
    background-size: auto;
  }
  #menu .feature-block p {
    /* border: red 2px solid; */
    opacity: 60%;
    line-height: 20px;
  }
  #menu .row {
    /* background-image: url(../img/responmenu.svg); */
    background-size: cover;
    background-repeat: no-repeat;
  }

  #tentang {
    height: max-content;
  }
  .tentang-block p {
    /* border: #000 2px solid; */
    /* margin: 0px !important; */
    padding: 15px !important;
    opacity: 60%;
  }
  .isi-info {
    /* border: red 2px solid; */
    padding: 10px;
    font-size: small;
  }
  .info {
    /* border: #000 2px solid; */
    border-radius: 8px 8px 0 0;
    background-color: #666f91;
    /* text-shadow: 0 0 10px #fff; */
    width: auto;
    margin: 0px 10px;
  }
}
